cython
h5py
tqdm
msgpack
pillow
imageio
numpy
scipy
scikit-image
gdown
matplotlib
natsort
Pillow
PyYAML
scikit-image
scipy
setuptools
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
timm
torch
torchaudio
torchnet
torchvision
